<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_tag 'images/favicon.png' %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div id="header">
          <h1><%= link_to "CQFR", "/"%></h1>
          <p>Ce Qu'il Fallait Retenir</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="hidden-sm-down">
          <h3>Mots clés</h3>
            <% color = ["#EE5F5B", "#F95F62", "#00A6FF", "#FDB631", "#FFD185", "#FF9052", "#77D353"]%>
          <br><% blog.tags.each do |tag, articles| %>
              <%= link_to "#{tag} (#{articles.size})", tag_path(tag), class: "btn btn-default btn-sm", style: "background-color: #{color.sample};" %>
          <% end %>
          <h3>Semaines</h3>
          </div>
        </div>
        <div class="col-xs-12 col-md-8 col-post">
          <section class="post-container">
            <%= yield %>
          </section>
        </div>
        <div class="col-xs-12 col-md-2">
          <h3>Inscrivez vous</h3>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <%= partial "partials/footer" %>
      </div>
    </div>

    <%= partial "partials/analytics" %>
  </body>
</html>
