---
title: Le Wagon - Middleman
---
<% blog.articles.each do |article| %>
    <div class="post-block">
      <wbr><p><h1><%= link_to article.title, article %></h1></wbr><%= article.date.strftime('%e %b %Y') %></p>
      <% if article.data.abstract %>
          <p><%= article.data.abstract %></p>
      <% end %><%= link_to 'Read more…', article %>
      <% if article.data.personality %>
          <p><% article.data.personality.each do |perso| %>
          <%= perso %>
        <% end %></p>
      <% end %>

    </div>
<% end %>

