---
title: Le Wagon - Middleman
---
<% blog.articles.each do |article| %>
    <div class="post-block">
      <h1><%= link_to article.title, article %></h1>
      <p><%= article.date.strftime('%b %e %Y') %></p>
      <%= link_to 'Read more…', article %>
    </div>
<% end %>

<div id="home">
  <div class="home-content">
    <%= image_tag "logo.png", width: "200" %>
    <p>
      Middleman is now running!
    </p>
    <p class="about">
      <%= link_to "More about this template", "about.html" %>
    </p>
  </div>
</div>

